@use "../modules/mixins";
@use "../modules/variables";

.app {
    background-color: rgb(208, 208, 208);
    @include mixins.standardBorder();

    position: absolute;

    //left: 50px;

    width: 30vw;
    height: 55vh;
    &__topBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        height: 5%;
    }
    &__container {
        background-color: rgb(187, 185, 185);
        @include mixins.standardBorder();
        height: 85%;
        padding: 5px;
        margin: 5px;

        &__content{
            background-color: white;
            height: 100%;
            
        }
    }
}

#app {
    &__bin {
        left: 100px;
        top: 50px;
    }
    &__note{
        right: 100px;
        bottom: 50px;
    }
}