@mixin backgroundImage {
    background-image: url("https://images7.alphacoders.com/116/1161622.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@mixin taskbarLayout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin menuLayout {
    display: flex;
    align-items: flex-end;

    background-image: linear-gradient(blue, #0099ff);

    width: 13%;
    
    position: absolute;
    left: 0;
    bottom: 39px;
    
    margin: 5px;

}

@mixin screenLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin appLayout {
    width: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
}