@use "./modules/mixins";
@use "./partials/screen";
@use "./partials/taskbar";
@use "./partials/menu";

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





